<form action="/del" method="POST">
    <p>Cancelar Etiqueta JadLog</p>
    
    <input type="text" name="numEtiqueta" placeholder="Numero Etiqueta">           
    <button type="submit">Cancelar Etiqueta</button>
</form>