<form action="/add" method="POST">
    <p>Inserir Etiqueta JadLog</p>
    
    <input type="text" name="notafiscal" placeholder="Numero Nota Fiscal">
    <input type="text" name="chave" placeholder="Chave Nota Fiscal" width="100px">
    <input type="text" name="serie" placeholder="Serie Nota Fiscal">
    <input type="text" name="peso" placeholder="Peso">    
    <input type="text" name="volumes" placeholder="Quant Volumes">          
    <input type="text" name="valor" placeholder="Valor"><p></p>
    <input type="text" name="nome" placeholder="Nome">
    <input type="text" name="cpf" placeholder="CPF"> 
    <input type="text" name="ie" placeholder="Inscricao Estadual"><p></p>
    <input type="text" name="rua" placeholder="Rua">
    <input type="text" name="numero" placeholder="Número"> 
    <input type="text" name="complemento" placeholder="Complemento">
    <input type="text" name="bairro" placeholder="Bairro">
    <input type="text" name="cidade" placeholder="Cidade"> 
    <input type="text" name="estado" placeholder="Estado"><p></p>
    <input type="text" name="cep" placeholder="Cep">
    <input type="text" name="fone" placeholder="Fone"> 
    <input type="text" name="email" placeholder="email"><p></p>                
    <button type="submit">Enviar Solicitação</button>
</form>